.logo.vite:hover {
    filter: drop-shadow(0 0 2em #747bff);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafb);
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    padding: 15px;
    box-sizing: border-box;
    text-align: justify;
    text-align-last: justify;
}


.mask {
    transition: all .9s;
    background: transparent;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    border-radius: 5px;
}

.mask:hover {
    background: #9ca3af22;
}

#text-style-overflow [data-view="swap"] {
    overflow-y: hidden;
}

.tick {
    font-size: 2rem;
    overflow: visible;
    display: inline;
    font-family: "LED Bold";
    font-weight: bold;

}

.tick .word {
    display: inline-block;
    text-align: center;
    font-size: 100%;
}

/*.tick .tick-flip[data-view] {*/
/*    max-width: 1.125rem;*/
/*}*/

.second {
    display: flex;
}
